:root {
  --light-blue: rgba(13, 187, 252, 1);
  --green: rgba(101, 228, 163, 1);
  --light-grey: rgba(241, 241, 241, 1);
  --dark-blue: rgba(10, 38, 64, 1);
  --grey-blue: rgba(143, 182, 213, 1);
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(119, 119, 119, 1);
  --busy-light-blue: rgba(13, 187, 252, 1);
  --headings-text-XL-font-family: "Manrope-Regular", Helvetica;
  --headings-text-XL-font-weight: 400;
  --headings-text-XL-font-size: 36px;
  --headings-text-XL-letter-spacing: 0px;
  --headings-text-XL-line-height: 56px;
  --headings-text-XL-font-style: normal;
  --headings-text-l-font-family: "Manrope-Regular", Helvetica;
  --headings-text-l-font-weight: 400;
  --headings-text-l-font-size: 28px;
  --headings-text-l-letter-spacing: 0px;
  --headings-text-l-line-height: 48px;
  --headings-text-l-font-style: normal;
  --headings-text-XXL-font-family: "Manrope-Regular", Helvetica;
  --headings-text-XXL-font-weight: 400;
  --headings-text-XXL-font-size: 38px;
  --headings-text-XXL-letter-spacing: 0px;
  --headings-text-XXL-line-height: 72px;
  --headings-text-XXL-font-style: normal;
  --headings-textxxxl-font-family: "Manrope-Regular", Helvetica;
  --headings-textxxxl-font-weight: 400;
  --headings-textxxxl-font-size: 64px;
  --headings-textxxxl-letter-spacing: 0px;
  --headings-textxxxl-line-height: 84px;
  --headings-textxxxl-font-style: normal;
  --paragraphs-text-m-font-family: "OpenSans-Regular", Helvetica;
  --paragraphs-text-m-font-weight: 400;
  --paragraphs-text-m-font-size: 24px;
  --paragraphs-text-m-letter-spacing: 0px;
  --paragraphs-text-m-line-height: 36px;
  --paragraphs-text-m-font-style: normal;
  --paragraphs-text-s-font-family: "OpenSans-Regular", Helvetica;
  --paragraphs-text-s-font-weight: 400;
  --paragraphs-text-s-font-size: 20px;
  --paragraphs-text-s-letter-spacing: 0px;
  --paragraphs-text-s-line-height: 32px;
  --paragraphs-text-s-font-style: normal;
  --paragraphs-text-XS-font-family: "OpenSans-Regular", Helvetica;
  --paragraphs-text-XS-font-weight: 400;
  --paragraphs-text-XS-font-size: 16px;
  --paragraphs-text-XS-letter-spacing: 0px;
  --paragraphs-text-XS-line-height: 28px;
  --paragraphs-text-XS-font-style: normal;
}
