.register {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.register .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1024px;
  position: relative;
}

.register .don-t-have-an {
  position: absolute;
  top: 627px;
  left: 437px;
  font-family: "Urbanist", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 19.1px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.register .text-wrapper {
  color: #000000;
}

.register .span {
  font-weight: 600;
  color: #fec00f;
}

.register .glogin {
  position: absolute;
  width: 132px;
  height: 62px;
  top: 544px;
  left: 513px;
}

.register .overlap-group {
  position: relative;
  width: 133px;
  height: 63px;
  top: -1px;
  left: -1px;
  border-radius: 30px;
  border: 1.19px solid;
  border-color: #000000;
}

.register .frame {
  display: flex;
  width: 57px;
  height: 24px;
  align-items: center;
  gap: 14.32px;
  position: relative;
  top: 18px;
  left: 33px;
  border-radius: 30px;
}

.register .text-wrapper-2 {
  margin-right: -7.53px;
  font-family: "Cabin", Helvetica;
  font-size: 19.1px;
  position: relative;
  width: fit-content;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.register .heading {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 31.4px;
  position: absolute;
  top: 188px;
  left: 415px;
}

.register .welcome {
  margin-top: -1.57px;
  font-family: "Bebas Neue", Helvetica;
  font-size: 106.8px;
  position: relative;
  width: fit-content;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.register .image {
  position: absolute;
  width: 786px;
  height: 1024px;
  top: 0;
  left: 1134px;
}

.register .text-wrapper-3 {
  position: absolute;
  width: 205px;
  height: 78px;
  top: 68px;
  left: 117px;
  font-family: "Manrope", Helvetica;
  font-weight: 700;
  color: #1e1e1e;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 54.7px;
}

.register .rectangle {
  width: 51px;
  height: 46px;
  top: 91px;
  position: absolute;
  left: 51px;
  background-color: var(--green);
  border-radius: 0px 10.8px 10.8px 0px;
}

.register .rectangle-2 {
  width: 36px;
  height: 35px;
  top: 50px;
  position: absolute;
  left: 51px;
  background-color: var(--green);
  border-radius: 0px 10.8px 10.8px 0px;
}

.register .text-field {
  width: 494px;
  height: 48px;
  padding: 12px 16px;
  position: absolute;
  top: 376px;
  left: 327px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid;
  border-color: #d9d9d9;
  flex: 1;
  margin-top: -2px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
}

.register .div-wrapper {
  display: flex;
  width: 494px;
  height: 48px;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  position: absolute;
  top: 441px;
  left: 324px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid;
  border-color: #d9d9d9;
}

.register .text-wrapper-4 {
  position: relative;
  flex: 1;
  margin-top: -2px;
  opacity: 0.5;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
}
