{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href= {% static 'users/style.css' %} />
    <link rel="stylesheet" href={% static 'users/styleguide.css' %}  />
    <link rel="stylesheet" href= {% static 'users/globals.css' %} />
  </head>
  <body>
    <div class="homepage">
      <div class="div">
        <div class="overlap">
          <div class="footer-CTA">
            <footer class="footer">
              <div class="logo">
                <a href="#" target="_blank" rel="noopener noreferrer"><div class="boldo">HealthCord</div></a>
                <div class="logo-shape">
                  <div class="rectangle"></div>
                  <div class="rectangle-2"></div>
                </div>
              </div>
              <p class="social-media">
                <span class="text-wrapper">A Statify Squad Company<br /></span>
                <span class="span">Srinivas Institute of Technology,<br />Valachil, Mangalore</span>
              </p>
              <div class="text-wrapper-2">All rights reserved.</div>
              <div class="group">
                <div class="group-2">
                  <div class="home-products"></div>
                  <div class="text-wrapper-3">Landings</div>
                  <div class="overlap-group">
                    <p class="home-careers">
                      <span class="text-wrapper">Phone:</span>
                      <span class="text-wrapper-4"> +91 63639 83352<br /><br /></span>
                      <span class="text-wrapper">Email: </span>
                      <span class="text-wrapper-4">gagan.kulal916@gmail.com<br /><br /></span>
                      <span class="text-wrapper">Github:</span>
                      <span class="text-wrapper-4"> https://github.com/Gagan-K916</span>
                    </p>
                    <div class="blog-products"></div>
                  </div>
                  <div class="company">Contact</div>
                  <div class="resources"></div>
                </div>
              </div>
            </footer>
          </div>
          <div class="testimonials">
            <div class="overlap-2">
              <p class="p">We Care, We Connect, We Empower - Your Journey to Vitality.</p>
              <div class="testimonial">
                <p class="buyer-buzz-partner">
                  “From prescription reminders to doc-powered insights, HealthCord made my health go from foggy to
                  focused! ✨”
                </p>
                <div class="author">
                  <div class="text-wrapper-5">Albus Dumbledore</div>
                  <div class="manager-howarts">India</div>
                  <img class="ellipse" src={% static 'users/img/ellipse-4-2.png' %} />
                </div>
              </div>
              <div class="testimonial-2">
                <p class="buyer-buzz-partner-2">
                  “No more medical mysteries! This app unlocked my insights, empowered my doctor, and filled my heart
                  with gratitude. ❤️”
                </p>
                <div class="author-2">
                  <div class="albus-dumbledore">Harry Potter</div>
                  <div class="manager-howarts-2">India</div>
                  <img class="img" src={% static 'users/img/ellipse-4-1.png' %} />
                </div>
              </div>
              <div class="testimonial-3">
                <p class="buyer-buzz-partner">
                  “From foggy diagnoses to crystal-clear care, HealthCord changed my health journey – and I&#39;m
                  forever grateful.”
                </p>
                <div class="author">
                  <div class="text-wrapper-5">Severus Snape</div>
                  <div class="manager-howarts">India</div>
                  <img class="ellipse" src={% static 'users/img/ellipse-4.png' %} />
                </div>
              </div>
            </div>
          </div>
          <a href="#" target="_blank" rel="noopener noreferrer"><div class="text-wrapper-6">Research</div></a>
          <a href="#" target="_blank" rel="noopener noreferrer"><div class="text-wrapper-7">Home</div></a>
          <a href="#" target="_blank" rel="noopener noreferrer"><div class="text-wrapper-8">About</div></a>
        </div>
        <div class="heading">
          <div class="our-blog">Our Services</div>
          <p class="value-proposition">
            Bridging the gap between patients and doctors: <br />HealthCord for a healthier future.
          </p>
        </div>
        <div class="overlap-3">
          <div class="overlap-4">
            <div class="section">
              <div class="text-block">
                <div class="frame-wrapper">
                  <div class="frame">
                    <p class="text-wrapper-9">We connect you with the best doctors, and help you stay connected.</p>
                    <div class="features-list">
                      <div class="feature">
                        <p class="text-wrapper-10">We connect our customers with the best.</p>
                        <div class="check-wrapper"><img class="check" src={% static 'users/img/check-2.svg' %} /></div>
                      </div>
                      <div class="feature">
                        <p class="text-wrapper-10">Better understanding of your health</p>
                        <div class="check-wrapper"><img class="check" src={% static 'users/img/check-1.svg' %} /></div>
                      </div>
                      <div class="feature">
                        <div class="text-wrapper-10">High customer satisfaction</div>
                        <div class="check-wrapper"><img class="check" src={% static 'users/img/check.svg' %} /></div>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="#" target="_blank" rel="noopener noreferrer"
                  ><div class="buttons"><div class="start-now">Dive in</div></div></a
                >
              </div>
              <img class="image" src={% static 'users/img/image-2.png' %} />
            </div>
            <img class="home-salud" src={% static 'users/img/home-salud-rutherford-nj-1.png' %} />
            <div class="div-wrapper">
              <div class="frame-2">
                <div class="group-3">
                  <div class="rectangle-3"></div>
                  <div class="rectangle-4"></div>
                  <div class="rectangle-5"></div>
                  <div class="rectangle-6"></div>
                  <div class="rectangle-7"></div>
                  <div class="rectangle-8"></div>
                  <div class="rectangle-9"></div>
                  <div class="rectangle-10"></div>
                </div>
                <div class="group-4">
                  <div class="frame-3">
                    <div class="text-wrapper-11">30%</div>
                    <div class="text-wrapper-12">likely to readmit</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-block-wrapper">
            <div class="text-block-2">
              <p class="text-wrapper-13">Stay healthy and updated with integrated AI.</p>
              <div class="tab-group">
                <div class="tab">
                  <div class="group-5">
                    <img class="star" src={% static 'users/img/star-1.svg' %} />
                    <p class="text-wrapper-14">Ask questions with our fine-tuned AI.</p>
                  </div>
                </div>
                <div class="group-wrapper">
                  <div class="group-6">
                    <img class="star-2" src={% static 'users/img/star.svg' %} />
                    <p class="text-wrapper-15">Faster insights and decisions – your health, optimized.</p>
                  </div>
                </div>
                <div class="tab-2">
                  <img class="sun" src={% static 'users/img/sun.svg' %} />
                  <div class="group-7"><div class="text-wrapper-16">Get Personalized Prescription Plan.</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-5">
          <div class="rectangle-11"></div>
          <div class="ellipse-2"></div>
          <div class="frame-4">
            <div class="frame-5">
              <div class="frame-6">
                <div class="your-favourite">Your Favourite<br />Health Monitoring System.</div>
                <p class="text-wrapper-17">We Care, We Connect, We Empower - Your Journey to Vitality.</p>
              </div>
              <div class="frame-7">
                <a href= {% url 'register-page' %} target="_blank" rel="noopener noreferrer"
                  ><div class="start-now-wrapper"><div class="start-now-2">Register</div></div></a
                >
                <a href="#" target="_blank" rel="noopener noreferrer"
                  ><div class="buttons-2"><div class="start-now-3">Login</div></div></a
                >
              </div>
            </div>
            <img class="image-2" src= {% static 'users/img/image-1.png' %} />
          </div>
          <div class="group-8">
            <div class="group-9">
              <a href="#" target="_blank" rel="noopener noreferrer"
                ><div class="logo-2">
                  <div class="boldo-2">HealthCord</div>
                  <div class="logo-shape-2">
                    <div class="rectangle-12"></div>
                    <div class="rectangle-13"></div>
                  </div></div
              ></a>
              <div class="navigation">
                <a href="#" target="_blank" rel="noopener noreferrer"><div class="text-wrapper-18">Research</div></a>
                <a href="#" target="_blank" rel="noopener noreferrer"><div class="text-wrapper-18">About</div></a>
                <a href="#" target="_blank" rel="noopener noreferrer"
                  ><div class="login-button"><div class="start-now-4">Login</div></div></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-6">
          <div class="service">
            <div class="frame-8">
              <img class="rectangle-14" src={% static 'users/img/rectangle-1270-3.png' %} />
              <div class="frame-9">
                <div class="frame-10">
                  <div class="cool-feature-title">Med mastery</div>
                  <p class="learning-curve">Reminders, schedules, and clear instructions.</p>
                </div>
                <a href="#" target="_blank" rel="noopener noreferrer"
                  ><div class="frame-11">
                    <div class="frame-12">
                      <div class="explore-page">Learn more</div>
                      <img class="arrow-right" src={% static 'users/img/arrow-right-2.svg' %} />
                    </div>
                    <div class="rectangle-15"></div></div
                ></a>
              </div>
            </div>
          </div>
          <img class="element-generated" src="users\templates\users\img\789-generated-1.png" />
        </div>
        <div class="overlap-7">
          <div class="service-2">
            <div class="frame-8">
              <img class="rectangle-14" src={% static 'users/img/rectangle-1270-2.png' %}/>
              <div class="frame-9">
                <div class="frame-10">
                  <p class="cool-feature-title">Track past &amp; plan ahead</p>
                  <p class="learning-curve">See visits, diagnoses, and next steps.</p>
                </div>
                <a href="#" target="_blank" rel="noopener noreferrer"
                  ><div class="frame-11">
                    <div class="frame-12">
                      <div class="explore-page">Learn more</div>
                      <img class="arrow-right" src={% static 'users/img/arrow-right-1.svg' %} />
                    </div>
                    <div class="rectangle-15"></div></div
                ></a>
              </div>
            </div>
          </div>
          <img class="nursing-home" src={% static 'users/img/nursing-home-hospital-hospice-1.png' %} />
        </div>
        <div class="overlap-8">
          <div class="service">
            <div class="frame-8">
              <img class="rectangle-14" src={% static 'users/img/rectangle-1270-1.png' %}/>
              <div class="frame-9">
                <div class="frame-10">
                  <div class="cool-feature-title">Chart your course</div>
                  <p class="learning-curve">Unravel health data with interactive insights.</p>
                </div>
                <a href="#" target="_blank" rel="noopener noreferrer"
                  ><div class="frame-11">
                    <div class="frame-12">
                      <div class="explore-page">Learn more</div>
                      <img class="arrow-right" src={% static 'users/img/arrow-right.svg' %} />
                    </div>  
                    <div class="rectangle-15"></div></div
                ></a>
              </div>
            </div>
          </div>
          <img class="free-vector-medical" src={% static 'users/img/free-vector-medical-support-and-treatment-via-smartphone-1.png' %} />
        </div>
      </div>
    </div>
  </body>
</html>
