{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href={% static 'users/globals_login.css' %} />
    <link rel="stylesheet" href={% static 'users/styleguide_login.css' %} />
    <link rel="stylesheet" href={% static 'users/style_login.css' %}  />
  </head>
  <body>
    <div class="register">
      <div class="div">
        <p class="don-t-have-an">
          <span class="text-wrapper">Don’t have an account? </span> <span class="span">Sign up</span>
        </p>
        <a href="#" target="_blank" rel="noopener noreferrer"
          ><div class="glogin">
            <div class="overlap-group">
              <div class="frame"><div class="text-wrapper-2">Register</div></div>
            </div>
          </div></a
        >
        <div class="heading"><div class="welcome">WELCOME</div></div>
        <img class="image" src= {% static 'users/img/doctor-image.png' %} />
        <a href= {% url 'home-page' %} target="_self" rel="noopener noreferrer"><div class="text-wrapper-3">HealthCord</div></a>
        <div class="rectangle"></div>
        <div class="rectangle-2"></div>
        <input class="text-field" placeholder="Username" type="text" />
        <div class="div-wrapper"><div class="text-wrapper-4">Password</div></div>
      </div>
    </div>
  </body>
</html>
